{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header">
                <h4><i class="fa-solid fa-clock-rotate-left"></i> Meeting Room Booking Availability <a href="{% url 'home' %}" class="btn btn-outline-secondary btn-sm" style="float: right;">Back</a></h4> 
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4>Scheduled in Next Hour <span class="badge bg-info">{{ count }}</span></h4> 
                        {% if bookings %}
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead class="table-primary">
                                    <tr>
                                        <th scope="col">Meeting Room</th>
                                        <th scope="col">Staff</th>
                                        <th scope="col">Number of Attendees</th>
                                        <th scope="col">Type of Meeting</th>
                                        <th scope="col">Start Date</th>
                                        <!-- <th scope="col">End Date</th> -->
                                        <th scope="col">Start Time</th>
                                        <th scope="col">End Time</th>
                                        <th scope="col">Booking date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for mr in bookings %}
                                        <tr>
                                            <td>{{ mr.mroom.mroom_name }}</td>
                                            <td>{{ mr.staff.first_name }} {{ mr.staff.last_name }}</td>
                                            <td>{{ mr.num_attendees }}</td>
                                            <td>{{ mr.type }}</td>
                                            <td>{{ mr.start_date }}</td>
                                            <!-- <td>{{ mr.end_date }}</td> -->
                                            <td>{{ mr.start_time }}</td>
                                            <td>{{ mr.end_time }}</td>
                                            <td>{{ mr.created_at }}</td>
                                        </tr>
                                        {% endfor %}
                                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% else %}
                        <p class="text-muted p-4">No meeting room scheduled for next hour. Click <a href="{% url 'meeting_rooms' %}">here</a> to add booking record</p>
            
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}