{% extends 'base.html' %}
{% block content %}

    <!-- logged in -->
    {% if user.is_authenticated %}
        {% if user.is_staff or user.is_superuser %}
        <div class="row">
            <div class="col-12">
                <div class="card bg-light ms-4 me-4 mb-4">
                    <div class="card-header">
                        <h4><i class="fa-solid fa-house-laptop"></i> Meeting Room Availability</h4> 
                    </div>
        
                    <div class="card-body">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            
                            <div class="col">
                                <div class="card text-white bg-success mb-3 text-center m-auto" style="max-width: 20rem;">
                                    <div class="card-header">Available Now</div>
                                    <div class="card-body">
                                        <h1 class="card-title">{{ available_now }}</h4>
                                        <h4 class="card-title">Rooms</h4>
                                        <div class="d-grid gap-2">
                                            <a href="{% url 'available_now' %}" class="btn btn-outline-light btn-sm mt-2">Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-white bg-warning mb-3 text-center m-auto" style="max-width: 20rem;">
                                    <div class="card-header">Scheduled in Next Hour</div>
                                    <div class="card-body">
                                        <h1 class="card-title">{{ scheduled }}</h4>
                                        <h4 class="card-title">Rooms</h4>
                                        <div class="d-grid gap-2">
                                            <a href="{% url 'scheduled' %}" class="btn btn-outline-light btn-sm mt-2">Details</a>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                            
                            <div class="col">
                                <div class="card text-white bg-danger mb-3 text-center m-auto" style="max-width: 20rem;">
                                    <div class="card-header">Now In Use</div>
                                    <div class="card-body">
                                        <h1 class="card-title">{{ in_use }}</h4>
                                        <h4 class="card-title">Rooms</h4>
                                        <div class="d-grid gap-2">
                                            <a href="{% url 'now_in_use' %}" class="btn btn-outline-light btn-sm mt-2">Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- logged in as staff -->
        {% else %} 
        <div class="row">
            <div class="col-12">
                <div class="card bg-light ms-4 me-4 mb-4">
                    <div class="card-header">
                        <h4><i class="fa-solid fa-house-laptop"></i> Your Bookings 
                            <a href="{% url 'search' %}" class="btn btn-outline-primary btn-sm ms-2" style="float: right;">New Booking</a>
                        </h4> 
                    </div>
                    <div class="card-body">
                        {% if histories %}
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-bordered">
                                <thead class="table-primary">
                                    <tr>
                                        <th scope="col">Meeting Room</th>
                                        <th scope="col">Number of Attendees</th>
                                        <th scope="col">Type of Meeting</th>
                                        <th scope="col">Date</th>
                                        <!-- <th scope="col">End Date</th> -->
                                        <th scope="col">Start Time</th>
                                        <th scope="col">End Time</th>
                                        <th scope="col">Booking date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                            {% for history in histories %}
                                    <tr>
                                        <td>{{ history.mroom.mroom_name }}</td>
                                        <td>{{ history.num_attendees }}</td>
                                        <td>{{ history.type }}</td>
                                        <td>{{ history.start_date }}</td>
                                        <!-- <td>{{ history.end_date }}</td> -->
                                        <td>{{ history.start_time }}</td>
                                        <td>{{ history.end_time }}</td>
                                        <td>{{ history.created_at }}</td>
                                    </tr>
                            {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                        {% else %}
                        <p class="text-muted p-4">No meeting room booking history. Click <a href="{% url 'search' %}">here</a> to book meeting room.</p>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    
    {% endif %}
{% endblock %}