{% extends "base.html" %}
{% block content %}

<div class="row ">
    <div class="col-12">
        <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header">
                <h4><i class="fa-solid fa-square-plus"></i> New Booking<a href="{% url 'home' %}" class="btn btn-sm btn-outline-secondary" style="float: right;">Back</a></h4>
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-3">
                        <div class="card bg-light" >
                            <h5 class="card-header">Search</h5>
                            <div class="card-body">
                                <form id="search-form">
                                    {% csrf_token %}
                                    
                                    {{ form.start_date.label_tag }}
                                    {{ form.start_date }}
                                    <br>

                                    {{ form.start_time.label_tag }}
                                    {{ form.start_time }}
                                    <br>

                                    <!-- {{ form.end_date.label_tag }}
                                    {{ form.end_date }}
                                    <br> -->

                                    {{ form.end_time.label_tag }}
                                    {{ form.end_time }}
                                    <br>

                                    {{ form.num_attendees.label_tag }}
                                    {{ form.num_attendees }}
                                    <br>
                                    
                                    {{ form.type.label_tag }}
                                    {{ form.type }}
                                    
                                    <button type="submit" class="btn btn-primary my-2">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card bg-light">
                            <div class="card-header">
                                <h4>Available Meeting Rooms <span class="badge bg-info" id="mr-count"></span></h4>
                            </div>
                            <div class="card-body" >
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="meeting-room-cards-container">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="bookModalLabel">Are you sure to book?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="white-space: pre;">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="confirm-book">Submit</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        var container = $('#meeting-room-cards-container');
        var tosearch = $('<p>').addClass("text-muted p-4").text("Please search available meeting rooms using the Search form.");
        container.append(tosearch);
        
        $('#search-form').submit(function(e) {
            e.preventDefault(); // Prevent form submission

            // Get input values
            var startDate = $('#start-date').val();
            var startTime = $('#start-time').val();
            // var endDate = $('#end-date').val();
            var endTime = $('#end-time').val();
            var numAtt = $('#num_attendees').val();
            var mType = $('#type').val();
            // Send Ajax request
            $.ajax({
                url: '/search/',  // URL of the Django view handling the request
                method: 'POST',
                headers: { "X-CSRFToken": "{{ csrf_token }}" },
                data: {
                    start_date: startDate,
                    start_time: startTime,
                    end_date: startDate,
                    end_time: endTime,
                    num_attendees: numAtt,
                    type: mType,
                },
                success: function(response) {
                    
                    // Clear the container before adding new card
                    container.empty();

                    if (response == "300") {
                        var notfound = $('<p>').addClass("text-muted p-4").text("No meeting room available. Please search again.");
                        container.append(notfound);
                    }
                    else if(response == "100") {
                        var errormsg = $('<p>').addClass("text-danger p-4").text("End time should be later than start time.");
                        container.append(errormsg);
                    }
                    else if(response == "200") {
                        var errormsg = $('<p>').addClass("text-danger p-4").text("Selected date time should be later than now.");
                        container.append(errormsg);
                    }
                    else {
                        var meetingRooms = JSON.parse(response);
                        $('#mr-count').text(Object.keys(meetingRooms).length);

                        $.each(meetingRooms, function(index, meetingRoom) {
                            // Create the Bootstrap card element
                            var col = $('<div>').addClass('col');
                            var card = $("<div>").addClass("card");
                            var book_btn = $('<button>').addClass('btn btn-primary btn-sm mx-1').text("Book").attr("type","submit").attr("data-bs-toggle", "modal").attr("data-bs-target", "#bookModal").attr("data-bs-mroomid",meetingRoom.id).attr("data-bs-roomname",meetingRoom.mroom_name).attr("data-bs-sd",startDate).attr("data-bs-st",startTime).attr("data-bs-et",endTime).attr("data-bs-na",numAtt).attr("data-bs-type",meetingRoom.selectedTypeName);
                            var history_btn = $('<a>').addClass('btn btn-info btn-sm mx-1').text("Booking History").attr("href", "/meeting_rooms/"+ meetingRoom.id +"/history/").attr("target", "_blank");
                            var cardHeader = $('<h5>').addClass('card-header').text(meetingRoom.mroom_name);
                            var roomImg = $('<img>').attr("src", meetingRoom.mr_image).css({"height":"200"});
                            var cardBody = $("<div>").addClass("card-body");
                            var ul = $('<ul>').addClass('list-group list-group-flush');
                            var level = $('<li>').addClass('list-group-item').text("Level: " + meetingRoom.level);
                            var capacity = $('<li>').addClass('list-group-item').text("Capacity: " + meetingRoom.capacity);
                            var type = $('<li>').addClass('list-group-item').text("Meeting Type: " + meetingRoom.meetingType);

                            // Append the elements to the card
                            ul.append(level, capacity, type);
                            cardBody.append(book_btn, history_btn)
                            card.append(cardHeader, roomImg, ul, cardBody);
                            col.append(card);
                            container.append(col);
                        });
                    }
                },
                error: function(error) {
                    // none
                }
            });
            
        });
    });
    const bookModal = document.getElementById('bookModal')
    bookModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        const modalbody = bookModal.querySelector('.modal-body')
        const submitbtn = bookModal.querySelector('#confirm-book')

        const mroomid = button.getAttribute('data-bs-mroomid')
        submitbtn.setAttribute('data-bs-mroomid', mroomid)

        const name = button.getAttribute('data-bs-roomname')
        const sd = button.getAttribute('data-bs-sd')
        const st = button.getAttribute('data-bs-st')
        // const ed = button.getAttribute('data-bs-ed')
        const et = button.getAttribute('data-bs-et')
        const numAtt = button.getAttribute('data-bs-na')
        const mType = button.getAttribute('data-bs-type')

        modalbody.textContent = 'Meeting Room: '+name
        modalbody.textContent += '\r\Date: '+sd
        modalbody.textContent += '\r\nStart Time: '+st      
        // modalbody.textContent += '\r\nEnd Date: '+ed
        modalbody.textContent += '\r\nEnd Time: '+et
        modalbody.textContent += '\r\nNumber of Attendees: '+numAtt       
        modalbody.textContent += '\r\nType of Meeting: '+mType
    })

    $('#confirm-book').click(function(e){
        // Get input values
        var mroomid = this.getAttribute('data-bs-mroomid')
        var startDate = $('#start-date').val();
        var startDate = $('#start-date').val();
        var startTime = $('#start-time').val();
        // var endDate = $('#end-date').val();
        var endTime = $('#end-time').val();
        var numAtt = $('#num_attendees').val();
        var mType = $('#type').val();

        $.ajax({
            url: '/booking/',  // URL of the Django view handling the request
            method: 'POST',
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            data: {
                mroom: mroomid,
                start_date: startDate,
                start_time: startTime,
                // end_date: endDate,
                end_time: endTime,
                num_attendees: numAtt,
                type: mType,
            },
            success: function(response) {
                if (response="1"){
                    window.location.href = '/home/?book_success=true'; 
                    
                }
                
            },
            error: function(error) {
                // none
            }
        });
    })
  
</script>
{% endblock %}