{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card bg-light ms-4 me-4 mb-4">

            <div class="card-header">
                <h4><i class="fa-solid fa-square-plus"></i> Add Meeting Room</h4>
            </div>

            <div class="card-body">
                <form method="POST" action="{% url 'add_mr' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                
                    {% for item in form %}
                    <div class="fieldWrapper">
                        {{ item.label }}: {{ item }}
                        {% if item.help_text %}
                            {{ item.help_text|safe }}
                        {% endif %}
                    </div>
                    <br>
                    {% endfor %}
                
                <br/>
                    <button type="submit" class="btn btn-primary">Add</button>
                    <a href="{% url 'meeting_rooms' %}" class="btn btn-secondary">Back</a>
                
                </form>
                
            </div>

        </div>
    </div>
</div>



{% endblock %}