{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header">
                <h4><i class="fa-solid fa-user-gear"></i> Administrator<a href="{% url 'add_admin' %}" class="btn btn-outline-primary btn-sm ms-3" >Add</a></h4> 
            </div>

            <div class="card-body">
                {% if administrators %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                        <thead class="table-primary">
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                    {% for administrator in administrators %}
                            <tr>
                                <td>{{ administrator.username }}</td>
                                <td>{{ administrator.first_name }}</td>
                                <td>{{ administrator.last_name }}</td>
                                <td>{{ administrator.email }}</td>
                            </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                {% else %}
                <p class="text-muted p-4">No administrator.</p>

                {% endif %}
            </div>

            
        </div>
    </div>
</div>

{% endblock %}