{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header">
                <h4><i class="fa-solid fa-user-gear"></i> Administrator<a href="{% url 'add_admin' %}" class="btn btn-outline-primary btn-sm ms-3" >Add</a></h4> 
            </div>

            <div class="card-body">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    
                    
                </div>

            </div>

            
        </div>
    </div>
</div>

{% endblock %}