{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header">
                <h4><i class="fa-solid fa-clock-rotate-left"></i> Meeting Room Booking Availability <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Back</a></h4> 
            </div>

            <div class="card-body">
                <h4>Available Now</h4>
                {% if meeting_rooms %}
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    
                    {% for mr in meeting_rooms %}
                    <div class="col">
                        <div class="card m-auto" style="max-width: 20rem;">
                            <h5 class="card-header">{{ mr.mroom_name }}</h5>
                            {% if mr.mr_image %}
                            <img src="{{ mr.mr_image.url }}" height="200">
                            {% endif %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Level: {{ mr.level }}</li>
                                <li class="list-group-item">Capacity: {{ mr.capacity }}</li>
                            </ul>
                            <div class="card-body">
                                <a href="{% url 'update_mr' mr.id %}" class="btn btn-primary btn-sm">Update</a>
                                <a href="{% url 'history' mr.id %}" class="btn btn-primary btn-sm">Booking History</a>
                              </div>
                            <div class="card-footer text-muted">
                                Created at {{ mr.created_at }}, 
                                Modified at {{ mr.modified_at }}
                            </div>
                        </div>
                    </div>
                    
                </div>
                {% endfor %}

            </div>
            {% else %}
            <p class="text-muted p-4">No meeting room available now. Click <a href="{% url 'meeting_rooms' %}">Here</a> to add booking record</p>

            {% endif %}
            
        </div>
    </div>
</div>
{% endblock %}