{% extends 'base.html' %}

{% block content %}


    {% if user.is_authenticated %}
        {% if user.is_staff %}
        <div class="row">
            <div class="col-12">
                <div class="card bg-light ms-4 me-4 mb-4">
                    <div class="card-header">
                        <h4><i class="fa-solid fa-house-laptop"></i> Meeting Room Availability</h4> 
                    </div>
        
                    <div class="card-body">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            
                            <div class="col">
                                <div class="card text-white bg-success mb-3 text-center m-auto" style="max-width: 20rem;">
                                    <div class="card-header">Available Now</div>
                                    <div class="card-body">
                                        <h1 class="card-title">{{ available_now }}</h4>
                                        <h4 class="card-title">Rooms</h4>
                                        <div class="d-grid gap-2">
                                            <a href="{% url 'available_now' %}" class="btn btn-outline-light btn-sm mt-2">Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-white bg-warning mb-3 text-center m-auto" style="max-width: 20rem;">
                                    <div class="card-header">Scheduled in Next Hour</div>
                                    <div class="card-body">
                                        <h1 class="card-title">{{ scheduled }}</h4>
                                        <h4 class="card-title">Rooms</h4>
                                        <div class="d-grid gap-2">
                                            <a href="{% url 'scheduled' %}" class="btn btn-outline-light btn-sm mt-2">Details</a>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                            
                            <div class="col">
                                <div class="card text-white bg-danger mb-3 text-center m-auto" style="max-width: 20rem;">
                                    <div class="card-header">Now In Use</div>
                                    <div class="card-body">
                                        <h1 class="card-title">{{ in_use }}</h4>
                                        <h4 class="card-title">Rooms</h4>
                                        <div class="d-grid gap-2">
                                            <a href="{% url 'now_in_use' %}" class="btn btn-outline-light btn-sm mt-2">Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    {% else %}
        <div class="col-md-6 offset-md-3">

            <h1>Login</h1>
            <br/>
            <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}

                <div class="mb-3">
                    <input type="text" class="form-control" name="username", placeholder="Username" required>
                </div>
                <br/>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password", placeholder="Password" required>
                </div>
                <br/>
                <button type="submit" class="btn btn-secondary">Login</button>

            </form>

        </div>

    {% endif %}


{% endblock %}