{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header">
                <h4><i class="fa-solid fa-clock-rotate-left"></i> Meeting Room Availability <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Back</a></h4> 
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4>Now In Use</h4> 
            
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead class="table-primary">
                                    <tr>
                                        <th scope="col">Staff</th>
                                        <th scope="col">Number of Attendees</th>
                                        <th scope="col">Type of Meeting</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">End Date</th>
                                        <th scope="col">Start Time</th>
                                        <th scope="col">End Time</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    
                                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}