{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header">
                <h4><i class="fa-solid fa-rectangle-history"></i> Meeting Room Booking History</h4> 
            </div>

            <div class="card-body">
                <div class="row row-cols-2 g-3">
                    <div class="col-4">
                        <div class="card m-auto" style="max-width: 20rem;">
                            <h5 class="card-header">{{ meeting_room.mroom_name }}</h5>
                            {% if meeting_room.mr_image %}
                            <img src="{{ meeting_room.mr_image.url }}" height="200">
                            {% endif %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Level: {{ meeting_room.level }}</li>
                                <li class="list-group-item">Capacity: {{ meeting_room.capacity }}</li>
                            </ul>
                            <div class="card-body">
                                <a href="{% url 'update_mr' meeting_room.id %}" class="btn btn-primary btn-sm">Update</a>
                            </div>
                            <div class="card-footer text-muted">
                                Created at {{ meeting_room.created_at }}, 
                                Modified at {{ meeting_room.modified_at }}
                            </div>
                        </div>
                    </div>

                    <div class="col-8">
                        <div class="card bg-light ms-4 me-4 mb-4">
                            <div class="card-header">
                                <h4>Update Meeting Room Booking History</h4>
                            </div>

                            <div class="card-body">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                                    <form method="POST" action="{% url 'update_history' meeting_room.id history.id %}" >
                                        {% csrf_token %}
                                    
                                        {{ form.as_p }}
                                    <br/>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                        <a href="{% url 'history' meeting_room.id %}" class="btn btn-secondary">Back</a>
                                    
                                    </form>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}